<?xml version="1.0"?>
<robot name="Sensor_only" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <link name="lidar_link"/>
  <link name="zed_left_frame_link"/>
  <link name="gps_link"/>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.14 0.115 0.03 " rpy="0 0 0"/>
  </joint>

  <joint name="zed_left_frame_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed_left_frame_link"/>
    <origin xyz="-0.15 -0.16 0.87 " rpy="0 -0.523599 0"/>
  </joint>

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0.0 0.0 0.0 " rpy="0 0 0"/>
  </joint>
</robot>