<?xml version="1.0"?>
<robot name="Sensor_only" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <link name="lidar_link"/>
  <link name="zed_left_frame_link"/>
  <link name="gps_link"/>
  <link name="zed_imu_link"/>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.14 -0.115 0.03 " rpy="0 0 0"/>
  </joint>

  <joint name="zed_left_frame_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed_left_frame_link"/>
    <origin xyz="-0.05 0.15 0.83 " rpy="0 0.523599 0"/>
  </joint>

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0.08 0.0 0.0 " rpy="0 0 0"/>
  </joint>

  <joint name="zed_imu_joint" type="fixed">
    <parent link="zed_left_frame_link"/>
    <child link="zed_imu_link"/>
    <origin xyz="0.023061 0.00226 0.002 " rpy="0.00369745 -0.00188104  0.00311351"/>
  </joint>
</robot>