<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ArmURDF2">
<link name="base_footprint">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
</link>

<joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.001" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="link_1" />
</joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.000740680413664291 -0.0060596665814546 -0.00186829134457166"
        rpy="0 0 0" />
      <mass
        value="0.493684249227373" />
      <inertia
        ixx="0.00101161422339463"
        ixy="-7.1872341381315E-07"
        ixz="1.00903763951108E-06"
        iyy="0.000843134357709361"
        iyz="-0.000111689338345694"
        izz="0.000991955904517516" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="8.98714572955539E-07 -3.03483072006117E-11 0.073693108956612"
        rpy="0 0 0" />
      <mass
        value="2.03270810207605" />
      <inertia
        ixx="0.00314066233259369"
        ixy="4.59940565187569E-07"
        ixz="1.29489356223766E-08"
        iyy="0.0037626946706696"
        iyz="1.26099583314501E-07"
        izz="0.00193883122368114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0.00043867 -0.0012391 0.0277"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.000254792757662214 8.07662075982818E-06 6.49487179915642E-06"
        rpy="0 0 0" />
      <mass
        value="0.269740707377859" />
      <inertia
        ixx="0.000214265460390054"
        ixy="-4.39953925830063E-08"
        ixz="-3.66512842905517E-08"
        iyy="0.00032147378623812"
        iyz="1.44778886952527E-08"
        izz="0.000434320205403585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 0 0.16208"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="1.01670993837011E-05 0.0124804785072026 0.212254920669629"
        rpy="0 0 0" />
      <mass
        value="1.70044559485604" />
      <inertia
        ixx="0.00777644371499502"
        ixy="-2.16976806750864E-07"
        ixz="-4.45523259064513E-07"
        iyy="0.0085700440835931"
        iyz="-7.04267753223668E-06"
        izz="0.00156632884327015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-5.93378011709556E-06 0.00327931148849761 0.532700078158248"
        rpy="0 0 0" />
      <mass
        value="1.42493385510865" />
      <inertia
        ixx="0.00891073892599567"
        ixy="-8.38383744269538E-08"
        ixz="-2.24139001996646E-07"
        iyy="0.00911616629538932"
        iyz="1.25388048346523E-07"
        izz="0.000512706182444845" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="0 0 0.42723"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.0393623356683294 -0.0335014935816436 0.00654580290720208"
        rpy="0 0 0" />
      <mass
        value="0.623654372976338" />
      <inertia
        ixx="0.000313134125849544"
        ixy="2.0437972442763E-08"
        ixz="5.11035119369461E-08"
        iyy="0.000209633552540219"
        iyz="-6.25529997376223E-07"
        izz="0.000184509117075841" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="continuous">
    <origin
      xyz="0 0 0.63916"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="0.0293765570138762 -0.000794669285106367 -0.0124468924089087"
        rpy="0 0 0" />
      <mass
        value="0.461153044609818" />
      <inertia
        ixx="0.000159154139869059"
        ixy="4.22527018368466E-07"
        ixz="9.87307555140405E-08"
        iyy="5.48287668179541E-05"
        iyz="6.16260342268939E-08"
        izz="0.000180439065215029" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="continuous">
    <origin
      xyz="0.061609 -0.030175 0"
      rpy="0 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="link_8_1">
    <inertial>
      <origin
        xyz="-0.00492659920751776 0.0267315083777654 0.00212900100943791"
        rpy="0 0 0" />
      <mass
        value="0.0238621153796169" />
      <inertia
        ixx="3.75714075146173E-06"
        ixy="-9.11915167755815E-08"
        ixz="5.26110661636923E-12"
        iyy="1.1992783066467E-06"
        iyz="-3.13349199633427E-12"
        izz="3.80768990237763E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_8_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_8_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7_1"
    type="continuous">
    <origin
      xyz="0.038716 0.046 0"
      rpy="0 0 0" />
    <parent
      link="link_7" />
    <child
      link="link_8_1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="link_9_1">
    <inertial>
      <origin
        xyz="0.0338344401539635 0.00845947578212647 0.00275240624278728"
        rpy="0 0 0" />
      <mass
        value="0.014746978667211" />
      <inertia
        ixx="3.78885191446192E-07"
        ixy="-6.4729084178428E-07"
        ixz="-2.70910300302167E-12"
        iyy="4.12019580977915E-06"
        iyz="4.79007246811342E-12"
        izz="4.2336163481287E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_9_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_9_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_9_1"
    type="continuous">
    <origin
      xyz="-0.0054338 0.042373 0"
      rpy="0 0 0" />
    <parent
      link="link_8_1" />
    <child
      link="link_9_1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="link_10_1">
    <inertial>
      <origin
        xyz="0.138815376411363 0.0364268084787191 -0.00884553818213996"
        rpy="0 0 0" />
      <mass
        value="0.0486465780888588" />
      <inertia
        ixx="5.4365128105541E-06"
        ixy="3.906479827633E-06"
        ixz="2.07001155035716E-09"
        iyy="1.69247091351984E-05"
        iyz="-6.34696084335324E-09"
        izz="1.86713050813076E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_10_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_10_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_10_1"
    type="fixed">
    <origin
      xyz="-0.045493 -0.04498 0.011585"
      rpy="0 0 0" />
    <parent
      link="link_9_1" />
    <child
      link="link_10_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_11_1">
    <inertial>
      <origin
        xyz="0.0249155586839006 0.0334731174074486 0.00287524795608252"
        rpy="0 0 0" />
      <mass
        value="0.0330161267446318" />
      <inertia
        ixx="5.31229118243624E-06"
        ixy="-4.08756963714987E-06"
        ixz="-2.09311304120215E-11"
        iyy="5.52216840597204E-06"
        iyz="-1.03636653740529E-11"
        izz="9.17010465946354E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_11_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_11_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_8_1"
    type="continuous">
    <origin
      xyz="0.053716 0.021 0"
      rpy="0 0 0" />
    <parent
      link="link_7" />
    <child
      link="link_11_1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="link_8_2">
    <inertial>
      <origin
        xyz="-0.00492659920904572 -0.0267315083777638 0.00387099899100085"
        rpy="0 0 0" />
      <mass
        value="0.0238621153796159" />
      <inertia
        ixx="3.75714075146625E-06"
        ixy="9.11915167091455E-08"
        ixz="-5.26110667298844E-12"
        iyy="1.19927830664177E-06"
        iyz="-3.13349188892875E-12"
        izz="3.80768990237764E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_8_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_8_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7_2"
    type="continuous">
    <origin
      xyz="0.038716 -0.046 0"
      rpy="0 0 0" />
    <parent
      link="link_7" />
    <child
      link="link_8_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_9_2">
    <inertial>
      <origin
        xyz="0.0338344401527394 -0.00845947578244774 0.00324759375767258"
        rpy="0 0 0" />
      <mass
        value="0.0147469786672112" />
      <inertia
        ixx="3.78885191454925E-07"
        ixy="6.47290841809503E-07"
        ixz="2.70909847986378E-12"
        iyy="4.12019580977044E-06"
        iyz="4.79007322679833E-12"
        izz="4.23361634812872E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_9_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_9_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_9_2"
    type="continuous">
    <origin
      xyz="-0.0054338 -0.042373 0"
      rpy="0 0 0" />
    <parent
      link="link_8_2" />
    <child
      link="link_9_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_10_2">
    <inertial>
      <origin
        xyz="0.138815376411217 -0.0364268084814933 0.00884553818281142"
        rpy="0 0 0" />
      <mass
        value="0.0486465780888586" />
      <inertia
        ixx="5.43651281037645E-06"
        ixy="-3.90647982737179E-06"
        ixz="-2.07001158159274E-09"
        iyy="1.6924709135376E-05"
        iyz="-6.34696085248978E-09"
        izz="1.86713050813076E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_10_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link_10_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_10_2"
    type="fixed">
    <origin
      xyz="-0.045493 0.04498 -0.0060848"
      rpy="0 0 0" />
    <parent
      link="link_9_2" />
    <child
      link="link_10_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link11_2">
    <inertial>
      <origin
        xyz="0.0249155586837917 -0.0334731174077843 0.00312475204473617"
        rpy="0 0 0" />
      <mass
        value="0.0330161267446324" />
      <inertia
        ixx="5.31229118252627E-06"
        ixy="4.08756963715209E-06"
        ixz="2.0931121459721E-11"
        iyy="5.52216840588193E-06"
        iyz="-1.03636557858027E-11"
        izz="9.17010465946352E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link11_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_urdf2/meshes/visual/link11_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_8_2"
    type="continuous">
    <origin
      xyz="0.053716 -0.021 0"
      rpy="0 0 0" />
    <parent
      link="link_7" />
    <child
      link="link11_2" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>
