<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_ARM-3000">
<link name="base_footprint">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
</link>

<joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.001" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
</joint>
  <link
    name="Link_1">
    <inertial>
      <origin
        xyz="0.00012888 -0.0082764 -0.011559"
        rpy="0 0 0" />
      <mass
        value="1.0181" />
      <inertia
        ixx="0.0014556"
        ixy="1.0529E-07"
        ixz="-1.0343E-07"
        iyy="0.0011087"
        iyz="1.6212E-07"
        izz="0.0019279" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_1.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_2">
    <inertial>
      <origin
        xyz="-1.1116E-05 7.6752E-12 0.07282"
        rpy="0 0 0" />
      <mass
        value="2.1315" />
      <inertia
        ixx="0.0034462"
        ixy="-5.4522E-07"
        ixz="2.3668E-07"
        iyy="0.0041394"
        iyz="5.3596E-08"
        izz="0.0020447" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_1"
    type="continuous">
    <origin
      xyz="0 0 0.0277"
      rpy="0 0 0" />
    <parent
      link="Link_1" />
    <child
      link="Link_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Link_3">
    <inertial>
      <origin
        xyz="0.00024986 1.4778E-10 1.2699E-05"
        rpy="0 0 0" />
      <mass
        value="0.26967" />
      <inertia
        ixx="0.00021426"
        ixy="-3.469E-12"
        ixz="-7.1035E-08"
        iyy="0.00032143"
        iyz="2.8128E-13"
        izz="0.00043432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_2"
    type="continuous">
    <origin
      xyz="0 0 0.16228"
      rpy="0 0 0" />
    <parent
      link="Link_2" />
    <child
      link="Link_3" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="Link_4">
    <inertial>
      <origin
        xyz="3.7251E-05 -0.015427 0.19749"
        rpy="0 0 0" />
      <mass
        value="2.1643" />
      <inertia
        ixx="0.0079605"
        ixy="-2.0805E-07"
        ixz="2.6632E-07"
        iyy="0.0088717"
        iyz="6.9795E-06"
        izz="0.0017518" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_3"
    type="continuous">
    <origin
      xyz="0 0 0.01"
      rpy="0 0 0" />
    <parent
      link="Link_3" />
    <child
      link="Link_4" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Link_5">
    <inertial>
      <origin
        xyz="-1.70467117013851E-06 0.00783960450344565 0.38813791900091"
        rpy="0 0 0" />
      <mass
        value="0.601827021676248" />
      <inertia
        ixx="0.00870846761717675"
        ixy="-5.96250808564499E-08"
        ixz="3.00094669883608E-11"
        iyy="0.00863073723807255"
        iyz="3.25458390300771E-06"
        izz="0.000271437136057678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_4"
    type="continuous">
    <origin
      xyz="0 0 0.41723"
      rpy="0 0 0" />
    <parent
      link="Link_4" />
    <child
      link="Link_5" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="Link_6">
    <inertial>
      <origin
        xyz="0.0303127582935871 -0.0238250000000001 -2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="0.0835077183917052" />
      <inertia
        ixx="3.73663373069686E-05"
        ixy="1.56391140470531E-20"
        ixz="-2.1050424773165E-20"
        iyy="5.699153682157E-05"
        iyz="-2.19616398342345E-21"
        izz="4.74497874458772E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/Link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_5"
    type="continuous">
    <origin
      xyz="0 0 0.6394"
      rpy="0 0 0" />
    <parent
      link="Link_5" />
    <child
      link="Link_6" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="End_Effector">
    <inertial>
      <origin
        xyz="0.0736339144180243 -2.77555756156289E-17 0"
        rpy="0 0 0" />
      <mass
        value="1.04142366701101" />
      <inertia
        ixx="0.00232553866271091"
        ixy="-3.62541174673852E-19"
        ixz="-4.64032949701355E-19"
        iyy="0.00173167060186588"
        iyz="-9.51149425226769E-19"
        izz="0.00361047060186588" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/End_Effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf_tool/meshes/visual/End_Effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_6"
    type="continuous">
    <origin
      xyz="0.05135 -0.023825 0"
      rpy="0 0 0" />
    <parent
      link="Link_6" />
    <child
      link="End_Effector" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>