<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="urdf_ARM-3000">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import urdf_ARM-3000 urdf file -->
    <xacro:include filename="$(find test_urdf_tool)/urdf/urdf_ARM-3000.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="urdf_ARM-3000.ros2_control.xacro" />


    <xacro:urdf_ARM-3000_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
